<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo temporibus dignissimos odit vel reiciendis necessitatibus? Eveniet, praesentium assumenda libero ullam repudiandae, consequuntur inventore magni a debitis non natus labore maiores.</p>

<%- include("footer") -%>
